@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

p {
  color: #878787;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: #efeeee;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: #fff;
  max-width: 1260px;
  margin: 0 auto 30px;
}

.row {
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  padding: 0 10px;
  width: 270px;
  border: 1px solid #e5e5e5;
  margin: 15px;
}

.card-image {
  position: absolut;
  margin-top: -20px;
  border: 1px solid #e5e5e5;
  line-height: 0;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
}

.card-image img {
  margin: 10px auto 20px;
  display: block;
}

.card-image .card-lableholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  top: -120px;
}

.card-image .card-lableholder .card-lable {
  width: 70px;
  height: 36px;
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
}

.card-image .card-lableholder .card-lable-sale {
  background: #ed1111;
}

.card-image .card-lableholder .card-lable-new {
  background: #0a0a0a;
  margin-left: auto;
}

.card-body .card-title {
  margin-top: 16px;
}

.card-body .card-description {
  margin-top: 10px;
}

.card-body .card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-body .card-price-main {
  color: #333;
  font-size: 1.4em;
  font-weight: 600;
}

.card-body .card-price-old {
  text-decoration: line-through;
  line-height: 2.3em;
  color: #ed1111;
  margin-left: 20px;
}

.card-body .card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.card-body .card-buttons .card-button {
  width: 120px;
  height: 36px;
  font-size: 0.8em;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  padding: 0;
  background-color: #fff;
}

.card-body .card-buttons .card-button-add {
  color: #ed1111;
  font-weight: bold;
}

.card-body .card-buttons .card-button-add:hover {
  background-color: #ed8e8e;
}

.card-body .card-buttons .card-button-view {
  color: #999e9f;
  background-color: #d9d9d9;
}

.card:hover {
  -webkit-box-shadow: 0 5px 10px 1px rgba(60, 60, 60, 0.35);
          box-shadow: 0 5px 10px 1px rgba(60, 60, 60, 0.35);
}

.btn-loadmore {
  width: 120px;
  height: 36px;
  font-size: 0.8em;
  text-align: center;
  line-height: 36px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  padding: 0;
  color: #ed1111;
  font-weight: bold;
  background-color: #fff;
  margin: 38px auto;
}

.btn-loadmore:hover {
  background-color: #c5cacb;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 50px;
}

.footer-col {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  border: 1px solid #e5e5e5;
  padding: 46px 24px;
  margin: 0 15px;
}

.footer-col h3 {
  text-transform: uppercase;
}

.footer-col .hotoffer {
  color: #878787;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  margin: 0 0 15px 20px;
  position: relative;
}

.footer-col .hotoffer::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 2px;
  border: 5px solid transparent;
  border-left: 4px solid #ed1111;
}

.footer-col i {
  margin: 30px auto 10px 42px;
}

.footer-col .fa-solid, .footer-col .fa-brands {
  color: #878787;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  position: relative;
}

.footer-col .fa-solid::before, .footer-col .fa-brands::before {
  color: red;
  font-size: 2em;
  position: absolute;
  top: -8px;
  left: -38px;
}
